// COLOR-EXAMPLE

.color-example {
    position: relative;
    width: 40px;
    height: 18px;
    margin: 5px 1em 5px 0;
    cursor: pointer;
    box-sizing: initial;
    display: block;
    float: left;
    &.active:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -3px;
        height: 6px;
        width: 6px;
        background-color: white;
        border-radius: 50%;
    }
    &:hover {
        .color-example__background {
            transform: scale(1.1)
        }
        &::after {   
            background-color: $c-light-grey-400;
        }
    }
    &__background {
        transition-property: width, height, position, left, top, border-radius, margin, font-size;
        transition: 200ms ease-out;
        position: relative;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 510px) { // color-example in app settings layout breaks here
    .color-example {
        &.active:after {
            bottom: -8px;
        }
    }
}