// ELEMENT

$bg-btn-size: 150px;
$full-screen-btn-size: 20px;

.element {
    width: 100%;
    min-height: 90px;
    flex-shrink: 0;
    position: relative;
    padding: 1em;
    flex-direction: column;
    border-radius: $el-border-radius;
    background-color: $c-navy-300;
    color: white;
    overflow: hidden;
    text-align: center;
    flex-flow: wrap;
    background: linear-gradient(190deg, rgba(255,255,255, 0.15) 0%, rgba(255,255,255, 0.35) 100%);
    margin-bottom: 1em;

    transition: 300ms ease-out;
    transition-property: width, height, position, left, top, border-radius, margin, font-size;
    
    * {
        user-select: none;
        transition: 300ms ease-out;
        transition-property: transform, width, height, position, left, top, border-radius, margin, font-size;
    }

    &__bg {
        border-radius: $el-border-radius;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: 300ms ease-out;
        transition-property: left, top, opacity, width, height, border-radius, margin, font-size;
        opacity: 0;
    }

    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 0.9em;
        margin: 0;
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
        align-self: center;
        padding: 0 160px 0.2em 160px;
        border-radius: 5px;
        position: relative;
        z-index: 2;

        &--notice {
            opacity: 0.6;
            font-size: 0.8em;
            font-weight: 500;
            // display: block;
            // margin-bottom: 5px;
        }
    }
    
    &__count {
        font-size: 2.5em;
        line-height: 1em;
        font-weight: 700;
        position: relative;
        z-index: 2;
    }

    &__actions {
        position: absolute;
        left: 16px;
        top: 22%;
        &-btn {
            position: relative;
            overflow: hidden;
            
            display: inline-block;
            padding: 1em;
            vertical-align: middle;
        }
    }
    &__full-screen,
    &__settings {
        display: block;
        position: relative;
        z-index: 9;
        width: $full-screen-btn-size;
        height: $full-screen-btn-size;
        fill: white;
        cursor: pointer;
    }

    // Buttons
    &__button {
        color: white;
        border:none;
        background-color:transparent;
        outline:none;
        font-size: 3em;
        line-height: 3em;
        font-weight: 500;
        position: relative;
        z-index: 2;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        
        &--plus {
            display: block;
            position: absolute;
            right: 0px;
            bottom: 50%;
            cursor: pointer;
            margin-bottom: - $bg-btn-size / 2 - 2;
            margin-right: - $bg-btn-size / 4;
            width: $bg-btn-size;
            height: $bg-btn-size;
            transition: 300ms ease-out;
            transition-property: transform, left, top, bottom, right, width, height, border-radius, margin, font-size;

            &:after {
                display: block;
                position: absolute;
                top: -3px;
                right: 0;
                width: 100%;
                height: 100%;
                content: '';
                border-radius: 50%;
                transform: scale(0.8);
                background: radial-gradient(rgba(white, 0), rgba(white, 0.4));
                opacity: 1;
                transition: 300ms ease-out;
                transition-property: transform, left, top, width, height, border-radius, margin, font-size;
            }
            &:active {
                //transform: scale(0.9);
                &:after {
                    transform: scale(1);
                    opacity: 0.7;
                }
            }
        }
        &--minus {
            line-height: 0.39em;
            display: block;
            top: -3px;
            user-select: none;
        }
    }

    .element__count.is-clicked {
        transform: scale(1.2);
    }

    // NOT full screen
    &:not(.is-open) {
        .hide-list-screen {
            opacity: 0;
            width: 0;
            height: 0;
            padding: 0;
        }
    }

    // Condensed element
    &.is-condensed {
        &:not(.is-open) {
            flex-direction: row;
            flex-wrap: inherit;
            justify-content: inherit !important;
            padding: 0.5em 1em;
            min-height: auto;
            .element__title {
                text-align: left;
                margin: 0;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 1em;
                margin-left: 120px;
                border-radius: 0;
                border-left: solid 1px rgba(white, 0.4);
            }
            .element__count {
                align-self: center;
                margin-right: 100px;
            }
            .element__actions {
                top: 6%;
            }
        }
    }
}
.is-condensed {
    .element {
        margin-bottom: 0.5em;
        border-radius: 10px;
        &__bg {
            border-radius: 10px;
        }
    }
}


// Full screen
.element {
    &.is-open {
        z-index: 10;
        left: 0px !important;
        top: 0px !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0;
        
        
        * {
            z-index: 11;
        }
        
        .hide-full-screen {
            opacity: 0;
            width: 0;
            height: 0;
            padding: 0;
        }
        .element__actions {
            top: 0;
        }

        .element {
            justify-content: center;
            align-items: center;
            &__title {
                align-self: center;
                margin-bottom: 0;
            }
            &__count {
                margin: 0 auto auto auto;
                font-size: 10em;
            }
            &__full-screen {
                z-index: 12;
            }
            &__button--plus {
                bottom: 75px;
                right: 50%;
                margin-right: -75px;
            }

            &__bg {
                border-radius: 0;
                opacity: 1;
            }
        }
        
        .Xelement__bg {
            z-index: 3;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

$responsive-spacing: 15px;
// max width 768px
@include media-breakpoint-down(sm) {    
    
    .element {        
        margin-bottom: $responsive-spacing;

        &__title {
            width: 100%;
            margin: auto;
            padding: 0 40px 0.4em 31px;
            font-size: 0.8em;
        }

        &__count {
            margin: auto;
        }

        // buttons
        &__actions {
            top: 50%;
            height: 93px;
            margin-top: -41.5px;
            left: 0.4em;
            &-btn {
                display: block;
                padding: 0.4em;
                cursor: pointer;
            }
        }
        &__full-screen,
        &__settings {
            width: 15px;
            height: 15px;
        }
        &__button--minus {
            padding: 0;
            font-size: 2.5em;
        }
        .element__actions {
            height: 56px;
            margin-top: -28px;
        }

            &:not(.is-open) {
                .hide-list-screen {
                    padding: 0;
                }
            }

        
        // Full screen
        &.is-open {
            .element__count {
                font-size: 8em;
            }
            .reduced-text-2 {
                &.element__count {
                    font-size: 5em !important;
                }            
            }
            .reduced-text-1 {
                &.element__count {
                    font-size: 6em !important;
                }
            }
            .element__title {
                font-size: 1.2em;
                margin-bottom: 2em;
                &--notice {
                    display: block;
                    margin-top: 0.5em;
                }
            }
            .element__count,
            .element__title {
                position: relative;
                top: -15%;
            }
            .element__actions {
                margin-top: 0.2em;
            }
            .element__button--plus {
                width: 375px;
                height: 375px;
                margin-bottom: -187px;
                margin-right: -187px;
                font-size: 100px;
                line-height: 360px;
            }
        }

        &.is-condensed {
            &:not(.is-open) {
                .element__title {
                    margin-left: 52px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .element__count {
                    margin-right: 42px;
                    font-size: 2em;
                    line-height: 0em;
                }
                .element__button--plus {
                    width: 100px;
                    height: 100px;
                    margin-bottom: -52px;
                    margin-right: -25px;
                    line-height: 2em;
                    &:after {
                        top: calc(calc(-2px + 15%));
                        right: 15%;
                        width: 70%;
                        height: 70%;
                    }
                }
                .element__actions {
                    display: flex;
                    height: 28px;
                    margin-top: -14px;
                    top: 50%;
                }
            }
        }
    }
}