$gradients: (
    ('#4d4d4d', '#2c2c2c'),
    ('#757EA1', '#456F7B'),
    ('#9ea2e0', '#5a60dd'),
    ('#B599DE', '#844bd7'),
    ('#9B7286', '#a14f74'),
    ('#ba8f89', '#c07063'),
    ('#C6AB6C', '#a1833d'),
    ('#688D70', '#468659'),
);

@for $i from 0 to length($gradients) {
    .gradient-#{$i} {
        &.background-gradient,
        .element__bg {
            background: linear-gradient(200deg, unquote(nth(nth($gradients, $i+1), 1)) 0%, unquote(nth(nth($gradients, $i+1), 2)) 100%) !important;
        }
        
        .form-element input[type=text],
        .form-element input[type=submit],
        .settings:not(.is-app) .btn,
        .is-app .settings__title {
            color: unquote(nth(nth($gradients, $i+1), 2));
        }
        .is-app .btn {
            background: unquote(nth(nth($gradients, $i+1), 2));
        } 
        .form-element path {
            fill: unquote(nth(nth($gradients, $i+1), 2));
        }
        .color-example.active:after {
            background-color: unquote(nth(nth($gradients, $i+1), 2));
        }
    }
}