// SETTINGS

.settings {
    height: 0;
    width: 100%;
    padding: 0 1em;
    overflow: hidden;
    border-radius: $el-border-radius;
    color: rgba(white, 0.3);
    transition: 300ms ease-in;
    transition-property: margin, height, padding, overflow;
    flex-shrink: 0;
    background: linear-gradient(190deg, rgba(255,255,255, 0.20) 0%, rgba(255,255,255, 0.30) 100%);
    transition: ease-in all 300ms;

    &.is-open {
        height: 331px;
        padding: 1em;
        margin-bottom: 1em;
    }

    &__item {
        margin-bottom: 10px;
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            .btn {
                background-color: white !important;
            }
        }
    }

    &__title {
        font-size: 0.9em;
        margin-bottom: 0.25em;
        line-height: 1.2em;
        margin-top: 0;
        color: white;
        display: block;
        font-weight: 600;
        &--notice {
            opacity: 0.6;
            font-size: 0.8em;
            font-weight: 500;
            display: block;
            margin-bottom: 5px;
        }
    }

    .btn-actions {
        display: flex;
        border-spacing: 1em;
        .btn-action  {
            margin-left: 0.5em;
            margin-right: 0.5em;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }            
        }
    }
    .btn-action {
        flex: 1;
    }

    .btn {
        color: $c-navy;
        background: white;
    }

    &.is-app {
        height: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        &.is-open {
            height: 83px;
        }
        .btn {
            color: white;
        }
        hr {
            border-top: solid 1px $c-light-grey-200;
            width: 100%;
        }
        .settings__item {
            margin-top: 0;
            margin-bottom: 0;
            align-items: flex-start;
        }
    }
}
.is-condensed {
    .settings {
        &.is-app {
            &.is-open {
                height: 67px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .settings {
        &.is-open {
            height: 367px;
        }
        .btn-actions {
            flex-wrap: wrap;
            .btn-action {
                flex: 0 calc(50% - 0.5em);
                margin-right: 1em;
                min-width: auto;
                padding: 0.5em;
                &:nth-child(even) {
                    margin-right: 0;
                }
                &:nth-child(odd) {
                    &:last-child {
                        flex: 0 100%;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &:not(.is-app) {
            .btn-action {
                margin-bottom: 1em;
            }
        }
        &__item {
            &:last-child {
                .btn {
                    display: block;
                    width: 100%;
                    background-color: white !important;
                }
            }
        }
    }   
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .settings {
        &.is-app {
            &.is-open {
                height: 165px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .settings .btn-action + .btn-action {
        margin-left: 0;
    }
    .settings {
        &.is-app {
            &.is-open {
                height: 150px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .is-condensed {
        .settings {
            &.is-app {
                &.is-open {
                    height: 118px; 
                }
            }
        }
    }
}
@media screen and (max-width: 509px) { // color-example in app settings layout breaks here
    .settings {
        &.is-app {
            &.is-open {
                height: 173px;
            }
        }
    }
}
@media screen and (max-width: 479px) {
    .is-condensed {
        .settings {
            &.is-app {
                &.is-open {
                    height: 146px; 
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .is-condensed {
        .settings {
            &.is-app {
                &.is-open {
                    height: 133px; 
                }
            }
        }
    }
}
@media screen and (min-width: 509px) and (max-width: 767px) {
    .is-condensed {
        .settings {
            &.is-app {
                &.is-open {
                    //height: 133px; 
                    height: 118px; 
                }
            }
        }
    }   
}

@media screen and (min-width: 509px) {
    .is-condensed {
        .settings {
            &:not(.is-app) {
                &.is-open { 
                    height: 320px;
                }
            }
        }
    }   
}
@media screen and (max-width: 768px) {
    .is-condensed {
        .settings {
            &:not(.is-app) {
                &.is-open { 
                    height: 355px;
                }
            }
        }
    } 
}



.is-open + .element{
    svg.element__settings {
        transform: scale(1.4);
        .path-1 {
            transform: rotate(-45deg) translate(-62%, 62%);
            //d: path('m448 42.667969h-206.613281c9.28125 19.433593 14.613281 41.066406 14.613281 64 0 22.933593-5.332031 44.5625-14.613281 64h206.613281c17.152344 0 33.257812-6.636719 45.3125-18.6875 12.054688-12.054688 18.6875-28.160157 18.6875-45.3125 0-35.285157-28.714844-64-64-64zm0 0')
        }
        .path-2 {
            //opacity: 0;
            transform: scale(0.55) rotate(-45deg) translate(-52%, 91%);
            //d: path('m213.332031 320.667969c0 58.910156-47.753906 106.664062-106.664062 106.664062-58.910157 0-106.667969-47.753906-106.667969-106.664062 0-58.910157 47.757812-106.667969 106.667969-106.667969 58.910156 0 106.664062 47.757812 106.664062 106.667969zm0 0') !important;
        }
        .path-3 {
            transform: rotate(45deg) translate(58%, -54%) rotateY(60deg);
            //d: path('m256 362.667969c0-22.933594 5.332031-44.566407 14.613281-64h-206.613281c-35.285156 0-64 28.714843-64 64 0 17.152343 6.632812 33.257812 18.6875 45.3125 12.054688 12.050781 28.160156 18.6875 45.3125 18.6875h206.613281c-9.28125-19.4375-14.613281-41.066407-14.613281-64zm0 0') !important;
        }
        // circle
        .path-4 {
            transform: translate(3%, 33%) scale(0.55);
            //d: path('m217 362.667969c0 58.910156-47.757812 106.664062-106.667969 106.664062-58.910156 0-106.664062-47.753906-106.664062-106.664062 0-58.910157 47.753906-106.667969 106.664062-106.667969 58.910157 0 106.667969 47.757812 106.667969 106.667969zm0 0') !important;
        }
    }

}
.element svg {
    overflow: visible;
}

// .settings {
//     height: 0 !important;
//     padding: 0 !important;
//     margin: 0 !important;
// }