// SETTINGS

.settings {
    height: 0;
    padding: 0 1em;
    overflow: hidden;
    border-radius: $el-border-radius;
    background-color: $c-navy-300;
    color: rgba(white, 0.3);
    transition: 300ms ease-in;
    transition-property: margin, height, padding, overflow;
    flex-shrink: 0;

    &.is-open {
        height: 421px;
        padding: 1em;
        margin-bottom: 1.5em;
    }

    &__item {
        margin-bottom: 10px;
    }
    &__title {
        font-size: 1em;
        display: block;
        font-weight: bold;
    }
}

@media screen and (max-width: 445px) {
    div.settings {
        &.is-open {
            height: 461px;
        }
    }
}