// SETTINGS

.settings {
    height: 0;
    width: 100%;
    padding: 0 1em;
    overflow: hidden;
    border-radius: $el-border-radius;
    color: rgba(white, 0.3);
    transition: 300ms ease-in;
    transition-property: margin, height, padding, overflow;
    flex-shrink: 0;
    //margin-bottom: 1em;
    background: linear-gradient(190deg, rgba(255,255,255, 0.15) 0%, rgba(255,255,255, 0.35) 100%);
    transition: ease-in all 300ms;

    &.is-open {
        //height: 331px;
        padding: 1em;
        margin-bottom: 1em;
        //overflow: visible;
    }

    &__item {
        margin-bottom: 10px;
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            label {
                margin-bottom: 0;
            }
            .btn {
                background-color: white !important;
                svg {
                    display: inline-block;
                    fill: red;
                    margin-right: 0.5em;
                    position: relative;
                    top: -4px;
                    left: -1px;
                }
            }
        }
        &.is-well {
            background-color: white;
            border-radius: $el-border-radius;
            margin: 0em 0 1em 0;
            padding: 1em;
            .settings__title {
                margin-top: 1em;
            }
        }
    }
    .settings__item.is-well {
        .btn {
            color: white;
        }
    }

    &__stats-col {
        text-align: center;
        margin: 1.5em 0;
        * {
            color: $c-light-grey-500;
        }
        &.is-number {
            margin: 1.8em 0;
        }
        &:before {
            display: block;
            content: "";
            width: 0;
            height: 70%;
            position: absolute;
            left: 0;
            top: 15%;
            border-left: solid 1px $c-light-grey-300;
        }
        &.no-border {
            &:before {
                display: none;
            }
        }
        &--count {
            font-size: 3em;
            line-height: 1em;
            font-weight: 700;
            background-clip: text !important;
            -webkit-text-fill-color: transparent;
        }
        &--title {
            font-weight: 700;
            margin-top: 0.5em;
            font-size: 0.8em;
        }
    }
    .settings__item.is-well .settings__stats-col--title {
        color: $c-light-grey-500;
    }

    &__title {
        font-size: 1em;
        margin-bottom: 0.4em;
        line-height: 1.2em;
        margin-top: 0;
        color: white;
        display: block;
        font-weight: 600;
        &--notice {
            opacity: 0.6;
            font-size: 0.8em;
            font-weight: 500;
            display: block;
            margin-bottom: 5px;
        }
        &.is-big {
            text-align: center;
            @extend %dark-gradient-text;
            font-size: 1.7em;
            margin: 0.5em;
        }
    }

    .btn-actions {
        display: flex;
        border-spacing: 1em;
        .btn-action  {
            margin-left: 0.5em;
            margin-right: 0.5em;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }            
        }
    }
    .btn-action {
        flex: 1;
        svg {
            display: inline-block;
            margin-right: 0.5em;
        }
    }

    .btn {
        color: $c-navy;
        background: white;
    }

    &.is-app {
        height: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        &.is-open {
            height: 83px;
        }
        .btn,
        .btn.btn-action {
            color: white;
        }
        hr {
            border-top: solid 1px $c-light-grey-200;
            width: 100%;
        }
        .settings__title {
            margin-bottom: 0;
        }
        .settings__item {
            margin-top: 0;
            margin-bottom: 0;
            align-items: flex-start;
        }
    }

    &.is-mirror {
        height: auto !important;
        position: absolute;
        visibility: hidden;
        z-index: -1;
        transition-property: none;
        &.is-app {
            width: calc(100% - 2em);
        }
    }
}
.is-condensed {
    .settings {
        &.is-app {
            &.is-mirror {
                width: calc(100% - 1em);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .settings {
        .btn-actions {
            flex-wrap: wrap;
            div.btn-action {
                flex: 0 calc(50% - 0.5em);
                margin-right: 1em;
                min-width: auto;
                padding: 0.5em;
                margin-bottom: 0;
                &:nth-child(even) {
                    margin-right: 0;
                }
                // &:nth-child(odd) {
                //     &:last-child {
                //         flex: 0 100%;
                //     }
                // }
                &:last-child {
                    
                }
            }
        }
        &:not(.is-app) {
            .btn-action {
                margin-bottom: 1em;
            }
        }
        &__item {
            &:last-child {
                .btn {
                    display: block;
                    width: 100%;
                    background-color: white !important;
                }
            }
        }
    }   
}

@include media-breakpoint-between(md,xl) {
    .settings__title {
        margin-right: 1em;
    }
    .settings__title,
    .color-example {
        align-self: center;
    }
}
@include media-breakpoint-down(sm) {
    .settings .btn-action + .btn-action {
        margin-left: 0;
    }
}

.is-open + .element svg.element__settings,
.settings__item:last-child .btn svg {
    @extend %check-icon;
}

.stats {
    padding-right: 1em;
    .btn {
        color: white;
    }
}
.square-stats {
    svg {
        overflow: visible;
    }
    &__no-data-text {
        display: none;
    }
    &.no-data {
        svg {
            display: none;
        }
        &__no-data-text {
            display: block;
        }
    }
}
.stats__xAxis,
.stats__yAxis {
    path,
    line {
        display: none;
    }
    text {
        color: $c-light-grey-400;
    }
}