// GLOBAL LAYOUT

.element__container {
    display: flex;
    overflow: scroll;
    flex-direction: column-reverse;
    position: relative;
    &--form {
      flex: 1;
      overflow: visible;
      margin: 0 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 30px);
    }
    &:not(.element__container--form) {
        padding-top: 100px;
        &:after {
            content: '';
            display: block;
            /* intrinsic aspect ratio */
            padding-top: 120px;
            height: 0;
        }
    }
}

.container {
    position: relative;
}

html,
body,
#root,
.container,
.element__container:not(.element__container--form),
.background-gradient {
    flex: 1;
    height: 100%;
}

body {
    background-color: $c-navy;
}

.is-condensed {
    .container {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

html,
body,
.anchor {
    scroll-behavior: smooth;
}

$responsive-spacing: 15px;
@include media-breakpoint-down(sm) {
    .container {
        padding: 0 $responsive-spacing;
    }
    div.element__container--form {
        margin: $responsive-spacing $responsive-spacing 0 $responsive-spacing !important;
        .form-element {
            margin-top: 0 !important;
        }
    }
}